
@{
    ViewBag.Title = "Index";
}
<div class="container shadow mt-4 rounded">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div id="carouselExampleSlidesOnly" class="carousel-slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Images/Shopify-Store.png" class="d-block w-100" style="height:500px" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/vender.png" class="d-block w-100" style="height:500px" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/images.png" class="d-block w-100" style="height:500px" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/article6222.jpg" class="d-block w-100" style="height:500px" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
